# from https://github.com/CppCXY/EmmyLuaCodeStyle/blob/master/lua.template.editorconfig
[*.lua]
indent_style = space
indent_size = 4
tab_width = 4
quote_style = single
#sue me
call_arg_parentheses = remove 
space_before_function_open_parenthesis = false
space_before_function_call_open_parenthesis = false
space_before_function_call_single_arg = false
